* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121829;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: rgba(55, 62, 80, 0.8) !important;
  height: 50px;
  width: 50px;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  background-color: #171e33 !important;
  color: #929396 !important;
  border: solid 1px #475069 !important;
  height: 50px !important;
  width: 50px !important;
}

@media (max-width: 768px) {
  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    height: auto !important;
    width: auto !important;
  }

  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
    height: auto !important;
    width: auto !important;
  } 

  .css-fz1kdm {
    width: auto !important;
  }  

  .css-zoc9ms {
    width: 219px !important; 
    font-size: 14px;
  } 
} 