* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121829;
}

@media (max-width: 768px) {
  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    height: auto !important;
    width: auto !important;
  }

  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
    height: auto !important;
    width: auto !important;
  }

  .css-fz1kdm {
    width: auto !important;
  }

  .css-zoc9ms {
    width: 219px !important;
    font-size: 14px;
  }
}


.error {
  margin-top: 30px;
  height: 100px;  
}